When adding error messages, include the value that is causing the error, when possible. For example, if the error is due to an invalid argument, include the argument in the error message.

## Testing

All tests use vitest. See package.json for details.

To run one or more individual tests use `npx vitest --run <test_file1> <test_file2>`

To run all tests use `npx vitest --run`

## Linting

To run the linter against a single file use `npx eslint <file>`

To run the linting for all files use `npx eslint`

On success, the linter will display no output, just a success code.

## Test Coverage

To get code coverage for a single test file use `npx vitest --coverage <test_file>`

## Building

To build the project use `npm run build`